<h3>Welcome Student</h3>

<form method="POST" action="">
    {% csrf_token %}
    {{form.username.label}}
    {{form.username}}
    <br/>
    <br/>
    {{form.password.label}}
    {{form.password}}
    <br/>
    <br/>
    {{form.email.label}}
    {{form.email}}
    <br/>
    <br/>
    {{form.Student_Number.label}}
    {{form.Student_Number}}
    <br/>
    <br/>
    <br/>
    <h3>Already Have an account</h3>
    <a href="Student_Login"> login </a><br/>

    <input type="submit" name="Create User">

</form>




