{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>StudentNumber</th>
        <th>QuestionName</th>
        <th>Uploaded Time</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{books.FirstName}}</td>
        <td>{{books.LastName}}</td>
        <td>{{books.StudentNumber}}</td>
        <td>{{books.QuestionName}}</td>
        <td>{{books.Sending_time}}</td>
    </tr>
    </tbody>
</table>
{% endblock %}

